  {{>admin_sidebar}}
<section style="margin-left:8rem ;">
  <div class="container-fluid">


    {{!-- <h2>Category Discounts</h2>
    <div class="container-fluid" style="overflow-x:auto;">
      <table class="table border-bottom border-secondary" id="myTable">
        <thead>
          <tr>
            <th class="" scope="col">#</th>
            <th class="" scope="col">Title</th>
            <th class="" scope="col">Price</th>
            
            <th class="" scope="col">Discounts</th>
           
              <th class="" scope="col">Apply Discount</th>
            <th class="" scope="col">Final Price</th>
          </tr>
        </thead>
        <tbody>
          {{#each Category}}
            <tr class="bg-white">
              <th class="" scope="row">{{inc @index}}</th>
              <td class="">{{this.Category_name}}</td>
              <td class="">{{this.Price}}</td> 

              <form action="" method="post">


              <td class=""><input id="discount{{this._id}}" value="{{this.pdiscount}}" type="text"></td>
              <td> 
               
        <div class="form-check form-switch">
         {{#ifCond this.pdiscount '<=' 0}}
           <input class="form-check-input" type="checkbox" onclick="couponchange('{{this._id}}')" name="coupon{{this._id}}" id="flexSwitchCheckDefault">
        {{else}}
           <input class="form-check-input" checked type="checkbox" onclick="couponchange('{{this._id}}')" name="coupon{{this._id}}" id="flexSwitchCheckDefault">
         {{/ifCond}} 
  <label class="form-check-label" for="flexSwitchCheckDefault"></label>
</div>
              <td class="" id="pdprice{{this._id}}">{{this.pd_price}}</td>

             
              </form>
           
              {{! <td class=""><a href="/admin/delete-user"><img src="/images/trash.svg" alt="delete" width="25px" height="25px" ></a></td> }}
             
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div> --}}



    <h2>Product Discount</h2>
    
    <div class="container-fluid" style="overflow-x:auto;">
      <table class="table border-bottom border-secondary" id="myTable">
        <thead>
          <tr>
            <th class="" scope="col">#</th>
            <th class="" scope="col">Title</th>
            <th class="" scope="col">Price</th>
            
            <th class="" scope="col">Product Discounts</th>
           
              <th class="" scope="col">Apply Discount</th>
            <th class="" scope="col">Product discounted Price</th>
          
            <th class="" scope="col">Final Price</th>
          </tr>
        </thead>
        <tbody>
          {{#each products}}
            <tr class="bg-white">
              <th class="" scope="row">{{inc @index}}</th>
              <td class="">{{this.Product_name}}</td>
              <td class="">{{this.Price}}</td> 

              <form action="" method="post">


              <td class=""><input id="discount{{this._id}}" value="{{this.pdiscount}}" type="text"></td>
              <td> 
               
        <div class="form-check form-switch">
         {{#ifCond this.pdiscount '<=' 0}}
           <input class="form-check-input" type="checkbox" onclick="couponchange('{{this._id}}')" name="coupon{{this._id}}" id="flexSwitchCheckDefault">
        {{else}}
           <input class="form-check-input" checked type="checkbox" onclick="couponchange('{{this._id}}')" name="coupon{{this._id}}" id="flexSwitchCheckDefault">
         {{/ifCond}} 
  <label class="form-check-label" for="flexSwitchCheckDefault"></label>
</div>
              <td class="" id="pdprice{{this._id}}">{{this.pd_price}}</td>

              
              
              <td class="">{{this.cd_price}}</td> 

             
              </form>
           
              {{! <td class=""><a href="/admin/delete-user"><img src="/images/trash.svg" alt="delete" width="25px" height="25px" ></a></td> }}
             
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</section>


<script>
  $(document).ready( function () {
    $('#myTable').DataTable();
} );
</script>

<script>
  function couponchange(id) {
    let discount = document.getElementById(`discount${id}`).value;
    if ($(`input[name="coupon${id}"]`).is(':checked')){ 
    $.ajax({
      url:"/admin/discounts/apply",
      data:{productId : id,discount:discount},
      method: "POST",
      success:function(pdprice){
        $(`#pdprice${id}`).text(pdprice)
      }
    })
      console.log("checked")}
    else {
      $.ajax({
        url:"/admin/discounts/null",
        data : {productId:id},
        method:"POST",
        success:function(result) {
          $(`#pdprice${id}`).text(result)
        }
      })
  
      
      console.log("not checked")}
  }
</script>
