  {{>admin_sidebar}}
<section style="margin-left:8rem ;">
  <div class="container-fluid">
    <div class="container-fluid">
      <div class="row my-4">
        <div class="float-end">
          <a href="/admin/addProduct"><div
              class="float-end btn bg-success"
              style="color: white;"
            >Add Product</div></a>
        </div>
      </div>
    </div>
    <div class="container-fluid" style="overflow-x:auto;">
      <table class="table border-bottom border-secondary" id="user-table">
        <thead>
          <tr>
            <th class="" scope="col">#</th>
            <th class="" scope="col">Title</th>
            <th class="" scope="col">Description</th>
            <th class="" scope="col">Price</th>
            <th class="" scope="col">Selling Price</th>
            <th class="" scope="col">Image</th>
            <th class="" scope="col">Options</th>
          </tr>
        </thead>
        <tbody>
          {{#each products}}
            <tr class="bg-white">
              <th class="" scope="row">{{inc @index}}</th>
              <td class="">{{this.Product_name}}</td>
              <td class="">{{this.description}}</td>
              <td class="">{{this.Price}}</td>
              <td class="">{{this.cd_price}}</td>

              <td class=""><img
                  src="/product_images/{{this._id}}.jpg"
                  width="50px"
                  alt=""
                /></td>
              {{! <td class=""><a href="/admin/delete-user"><img src="/images/trash.svg" alt="delete" width="25px" height="25px" ></a></td> }}
              <td class="" style="white-space: nowrap;">
                <a
                  class="btn btn-primary"
                  href="/admin/editProduct/{{this._id}}"
                >Edit
                </a>
                <a
                  class="btn btn-danger"
                  href="/admin/deleteProduct/{{this._id}}"
                  onclick="return confirm('Are you sure you want to delete {{this.name}} product?');"
                >Delete
                </a>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</section>
<link rel="stylesheet" href="/stylesheets/datatable.css" />