        {{>admin_sidebar}}

	<!--Demo question asked on
https://qawithexperts.com/questions/228/how-to-export-html-table-to-pdf-excel-in-jquery-datatable -->
<link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css" rel="stylesheet" />

<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
        
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
<div class="" style="overflow-x:auto; margin-left:8rem">

<table class='table' style=" max-width: -webkit-fill-available " id="myTable">
			<thead>
				<tr>
					<th class='' scope='col'>#</th>
                    <th class='' scope='col'>OrderId</th>

		
				
					<th class='' scope='col'>Total</th>
					<th class='' scope='col'>Date</th>
					<th class='' scope='col'>Payment</th>
					<th class='' scope='col'>Status</th>
				
				</tr>
			</thead>
			<tbody>
				{{#each orders}}
					<tr>
						<th class='' scope='row'>{{inc @index}}</th>
						
						<td class=''>{{this._id}}</td>
						<td class=''>{{this.totalAmount}}</td>
						<td> {{this.date}}</td>
						<td> {{this.paymentMethod}}</td>
						
						<td>{{this.paymentStatus}}</td>
						
						
						
						
					</tr>
					
				{{/each}}
				

			</tbody>
		</table>
		
</div>




	<script>
		 $('#myTable').dataTable({
               
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'excelHtml5',
                        title: 'Excel',
                        text:'Export to excel'
                        //Columns to export
                        //exportOptions: {
                       //     columns: [0, 1, 2, 3,4,5,6]
                       // }
                    },
                    {
                        extend: 'pdfHtml5',
                        title: 'PDF',
                        text: 'Export to PDF'
                        //Columns to export
                        //exportOptions: {
                       //     columns: [0, 1, 2, 3, 4, 5, 6]
                      //  }
                    }
                ]
            });
	</script>