{{>admin_sidebar}}
<section style="margin-left: 8rem;">
  <div class="container-fluid">
    <div class="container-fluid">
      <div class="row">
        <a href="/admin/addUser" class="my-4"><div
            class="float-end btn text-white"
            style="background-color: var(--blurple);"
          ></div></a>
      </div>
    </div>
    <div class="container-fluid" style="overflow-x:auto;">
      <table class="table" id="user-table">
        <thead>
          <tr>
            <th class="" scope="col">#</th>
            <th class="" scope="col">Name</th>
            <th class="" scope="col">Email</th>
            <th class="" scope="col">Phone</th>
            <th class="" scope="col">Password</th>
            <th class="" scope="col">Options</th>
          </tr>
        </thead>
        <tbody>
          {{#each users}}
            <tr>
              <th class="" scope="row">{{inc @index}}</th>
              <td class="">{{this.User_name}}</td>
              <td class="">{{this.User_email}}</td>
              <td class="">{{this.User_PhoneNumber}}</td>
              <td class="">{{this.User_Password}}</td>
              
              {{! <td class=""><a href="/admin/delete-user"><img src="/images/trash.svg" alt="delete" width="25px" height="25px" ></a></td> }}
              <td class="" style="white-space: nowrap;">
                
                <a  
                  class="btn btn-danger m-1"
                  href="/admin/deleteUser/{{this._id}}"
                  onclick="return confirm('Are you sure you want to delete {{this.name}} user?');"
                >Delete
                </a>
                {{#if this.isAllowed}}<a
                  class='btn btn-danger m-1'
                  href='/admin/blockUser/{{this._id}}'
                  onclick="return confirm('Are you sure you want to block {{this.name}} user?');"
                >Block</a>
              {{else}}<a
                  class='btn btn-success m-1'
                  href='/admin/blockUser/{{this._id}}'
                  onclick="return confirm('Are you sure you want to unblock {{this.name}} user?');"
                >Unblock</a>{{/if}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</section>
<link rel="stylesheet" href="/stylesheets/datatable.css" />