<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
  crossorigin="anonymous"
/>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
  crossorigin="anonymous"
></script>
<style>
  .bg_purple { background-color: #9155fd; } .purple { color: #766edb; } .purplec
  { color: #9155fd; } .a-none { text-decoration: none; } input[type="radio"] {
  width: 18px; height: 18px; } .breadcrumb-item + .breadcrumb-item::before {
  margin: 0 1vw; content: var(--bs-breadcrumb-divider, " > "); }
  .breadcrumb-item { font-size: large; font-weight: 700; } .address { word-wrap:
  break-word; /* overflow-wrap: break-word; */ } @media screen and (min-width:
  768px) { .options { margin: auto 0; } .outer{ padding: 1rem 3rem; } } @media
  screen and (max-width: 768px) { .options { margin: 1rem 2.6rem; } .outer{
  padding: 1rem 1rem; } }
</style>
<form action="" id="address" method="post">
  <div class=" pt-5 d-flex flex-wrap">
    <div class="col-lg-9 col-sm-12 col-12 outer">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb py-4">
          <li class="breadcrumb-item" aria-current="page">
            Address
          </li>
          {{!-- <li class="breadcrumb-item text-muted">Shipping</li> --}}
          <li class="breadcrumb-item text-muted">
            Payment
          </li>
        </ol>
      </nav>
      <input required
      hidden checked
            type="radio"
            name="address"
            value="address_not_selected"
            class="my-auto me-4 col-1 col-sm-1"
          />
      <!-- ================================================================================ -->
      {{#each address}}
        <div class="d-flex justify-content-between mb-5 w-100 flex-wrap">
        <div class="d-flex col-12 col-sm-8">
          <input required 
            type="radio"
            name="address"
            value="{{this._id}}"
            class="my-auto me-4 col-1 col-sm-1"
          />
          <div class="col-11 col-sm-11">
            <h4>{{this.name}}</h4>
            <p class="mb-0 address">{{this.houseName}}, {{this.locality}}, {{this.city}}, {{this.pincode}}</p>
            <p class="mb-0">
              <span class="text-muted">Contact - </span>{{this.phone}}
            </p>
          </div>
        </div>
        <div class="d-flex col-12 col-sm-4 options" id="" style="width: 10rem">
          {{!-- <a href=" /Address/Edit" class="text-dark a-none">Edit</a> --}}
          {{!-- <span class="mx-3">|</span> --}}
          {{!-- <a href=" /Address/Remove" class="text-danger a-none"> Remove</a> --}}
        </div>
      </div>
      {{/each}}
      <!-- ================================================================================ -->
      {{!-- <div class="d-flex justify-content-between mb-5 w-100 flex-wrap">
        <div class="d-flex col-12 col-sm-8">
          <input required
            type="radio"
            name="address"
            class="my-auto me-4 col-1 col-sm-1"
          />
          <div class="col-11 col-sm-11">
            <h4>Abhisek</h4>
            <p class="mb-0 address">Vadakkemadam house, palakkad</p>
            <p class="mb-0">
              <span class="text-muted">Contact - </span>9947XXXXX
            </p>
          </div>
        </div>
        <div class="d-flex col-12 col-sm-4 options" id="" style="width: 10rem">
          <a href=" /Address/Edit" class="text-dark a-none">Edit</a>
          <span class="mx-3">|</span>
          <a href=" /Address/Remove" class="text-danger a-none"> Remove</a>
        </div>
      </div> --}}

      <!-- ================================================================================ -->
      <hr />
      <a href="/address/add" class="purplec">+ CREATE NEW ADDRESS</a>
    </div>
    <div
      class="col-lg-3 col-sm-12 col-12 p-4 mt-5 border border-1"
      style="height: 500px"
    >
      <h3 class="mb-4">Order Summary</h3>
      <div class="d-flex justify-content-between w-100">
        <p>Price</p>
        <p>₹{{total}}</p>
      </div>
      <div class="d-flex justify-content-between w-100">
        <p >Discount</p>
        <p id="wallet">₹0.00</p>
      </div>
      <div class="d-flex justify-content-between w-100">
        <p>Shipping</p>
        <p class="purple">Free</p>
      </div>
      <div class="d-flex justify-content-between w-100">
        <p>Coupon Applied</p>
        <p id="discount">₹0.00</p>
      </div>
      <hr />
      <div class="d-flex justify-content-between w-100">
        <p class="purple">TOTAL</p>
        <p class="purple" >₹<span id="Total">{{total}}</span></p>
      </div>
      <p>Estimated Delivery by <span class="fw-bold">01 Aug 2022</span></p>
      <input type="text" name="coupon" class="form-control" id="coupon" placeholder="Coupon Code / Wallet Redeem" />
      
            <button type="button" class="btn btn-success" style="margin-top: 1rem;" onclick="applyCoupon('{{user.userId}}')">Apply coupon</button>
            <span style="padding-left:.5rem ;" class="text-danger" id="error"></span>
            <br>


    
      
            <button type="button" class="btn btn-success" style="margin-top: 1rem;" onclick="redeemWallet('{{user.userId}}')">Redeem wallet</button>
            <span style="padding-left:.5rem ;" class="text-danger" id="error2"></span>
      <button class="btn bg_purple  w-100 mt-3">CONTINUE TO PAYMENT</button>
    </div>
  </div>
</form>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<script>
  $("#address").submit(function(e) {
    console.log(e)
    e.preventDefault()
    $.ajax({
      url:"/address",
      method: "POST",
      data: $("#address").serialize(),
      success: function(data) {
        var now = new Date();
        var time = now.getTime();
        var expireTime = time + 1000*36000;
        now.setTime(expireTime);
        document.cookie = `address=${data};expires=`+now.toUTCString();
        location.href = "/checkout"
      },error: function(err) {
        err = jQuery.parseJSON(err.responseText)
        //alert(err)
        Swal.fire(
           'Oops !',
            err,
             'error'
)
      }
    })
  })
</script>

<script>
function applyCoupon(userid) {
  console.log("begin")
  console.log(userid)
  const couoponCode = document.getElementById("coupon").value
  
  $.ajax({
    url:"/address/applyCoupon",

    data:{ id:userid ,couponcode:couoponCode},
    method:"POST",
    success: function(response) {
      if(response.total){
      console.log(response.total)
    
      $("#Total").text(response.total)
       $("#discount").text(response.discount)
        $("#error").text("")   
   
 

      }else if(response.err){

  
    
    $("#error").text(response.err)

      }
    
    }    
    
    
  })
}
</script>

<script>
function redeemWallet(userid) {
  console.log("begin")
  console.log(userid)
  const couoponCode = document.getElementById("coupon").value
  
  $.ajax({
    url:"/address/redeemWallet",

    data:{ id:userid},
    method:"POST",
    success: function(response) {
      if(response.total){
      console.log(response.total)
      $("#Total").text(response.total)
       $("#wallet").text(response.discount)
        $("#error2").text("")   
   
 

      }else if(response.err){

  
    
    $("#error2").text(response.err)

      }
    
    }    
    
    
  })
}
</script>