<link rel="stylesheet" href="/public/stylesheets/homepage.css" />

<section class="main_body container-lg ">
  <div class="row">
  <div class="right_mb col-xl-6">
    <div class="enjoy">
      
      <h1 style="font-size:53px ;">Enjoy your coffee before your activity</h1>
      <p>Boost your productivity and build your mood with a glass of coffee in
        this morning</p>
        
    <a href="/products" class="btn_order btn btn-danger "><span class="">Order Now</span></a>
    </div>
  </div>

  <div class="left_mb col-xl-6">
    
    <div class="left_mb_img">
    
      <img class="img-main img-fluid" src="/images/cofee-home.webp" alt="" />

    </div>

  </div>
  </div>
</section>
<br>
<br>

<section class="popular container-fluid">
  <div class="popular-bg d-flex justify-content-center row mt-5">
    <h2 class="ph2">TRENDING NOW </h2>
  </div>
  <div class="card-wraper pt-3 row row-cols-1 row-cols-md-2 g-4 ">
<div class="popular_container col" >
    {{#each products}}
     <div class="">

          <div class="card m-3" style="width: 18rem; height:25rem;  ">
            <img
              src="/product_images/{{this._id}}.jpg"
              width="18rem"
              height="50%"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body1 p-2">
              <h5 class="card-title1">{{this.Product_name}}</h5>
              <p class="card-text2 mb-1">{{this.description}}</p>
              <div class="d-flex justify-content-between mb-2" style="width: 100%;">
                <p class="item-price my-auto"><strike>₹{{this.Price}}</strike>
                  <b>₹{{this.cd_price}}</b></p>
                <div class="d-flex">
                  <p class="item-rating my-auto me-2">
                    <b>{{this.Rating}}</b></p>

                  <i
                    class="fa fa-star my-auto"
                    style="color: rgb(227, 239, 67)"
                  ></i>
                </div>
              </div>

              <button class="ordrbtn">

                <a href="/add-to-cart/{{this._id}}" class="button-trend">Add to
                  cart</a>

              </button>
            </div>
          </div>

        </div>


    {{/each}}

      

    </div>

  </div>

</section>

<section class="delivery">
  <div class="delivery_header">
    <h2>How to use delivery service</h2>
  </div>
  <div class="delivery_card-container row row-cols-1 row-cols-md-3 d-flex justify-content-evenly">

    <div class="card col " style="width: 18rem;">
      <img src="/images/del4.jfif" class="card-img-top" alt="..." />
      <div class="card-body">
        <p class="card-text">Choose your coffee.</p>
        <p class="card-text1">there are 15+ cofees for you</p>
      </div>
    </div>

    <div class="card col" style="width: 18rem;">
      <img src="/images/del-5.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <p class="card-text">We deliver it to you</p>
        <p class="card-text1" >Choose your delivery service</p>
      </div>
    </div>

    <div class="card col" style="width: 18rem;">
      <img src="/images/del6.jfif" class="card-img-top" alt="..." />
      <div class="card-body">
        <p class="card-text">Enjoy your coffee.</p>
        <p class="card-text1"  >Complete your day..!</p>
      </div>
    </div>

  </div>
</section>

<section class="aboutUs container-lg">
  <div class="row">
  <div class="aboutus_img col-xl-6">
    <div class="abts_img_container">
      <img class="abts-img-file img-fluid" src="/images/aboutus.jpg" alt="" />

    </div>
  </div>
  <div class="aboutus_content col">
    <div class="aboutus_content_wrapper">
      <h1>About Us</h1>
      <p>We provide quality coffee, and ready to deliver</p>

      <p>We are a compony that makes and distributes delicious drinks.Our main
        product is made with a scecret recipe and available in stores world
        wide.</p>
<a href="/products"> <button class="abtusbtn">Get your coffee</button></a>
    </div>
  </div>
  </div>


</section>
<section class="brands ">
  <div class="brands_header">
    <hr class="brands_hr" />
    <h3>Brands We Work With</h3>
    <hr class="brands_hr" />
  </div>
  <div class="brands_container">
    <img
      class="brands_img img-fluid"
      src="http://www.nationalcoffee.net/wp-content/uploads/2017/11/coffee-logos.png"
      alt=""
    />
  </div>
<hr class="bottom-hr" />
</section>

{{!-- <section class="footer">
  <div class="logo">
    <img style="width: 200px; height:200px" src="/images/cft.jpeg" alt="" />

  </div>
  <div class="footer_list">
    <div class="list">
      <ul>
        <li class="footer_head fw-bold">SITE MAP</li>
        <li>Home</li>
        <li>About us</li>
        <li>Offers</li>
        <li>Legacy</li>
      </ul>
    </div>
    <div class="list">
      <ul>
        <li class="footer_head fw-bold">SOCIALS</li>
        <li>Facebook</li>
        <li>Linkdin</li>
        <li>Instagram</li>
        <li>Twitter</li>
      </ul>
    </div>
    <div class="list">
      <ul>
        <li class="footer_head fw-bold">HEAD OFFICE</li>
        <li>Home</li>
        <li>About us</li>
        <li>Offers</li>

      </ul>
    </div>

  </div>
  <div class="copyright">

  </div>

</section>
 --}}


 <div class="container-fluid">
<div class="row">
<div class="col-lg-6 col-md-6 col-sm-12">
<div class="single-product mb-50">
<div class="text-center">
<img style="width: 50%; " class="rounded"   src="/product_images/aboutus.jpg">
</div>
</div>
</div>
<div class="col-lg-6 col-md-6 col-sm-12">
<div class="mb-50">
<div class="align-self-center ">
<h1>About Us</h1>
<p>We provide Quality coffee,and ready to deliver</p>
</div>
</div>
</div>
</div>
</div>
{{!-- // --}}

<div class="container-fluid">
<div class="row">
<div class="col-lg-6 col-md-6 col-sm-12">
<div class="mb-50">
<div class="text-center ">
<h1>Enjoy your coffee before your activity</h1>
<p>Boot your productivity and build your mood with a glass of coffee in the morning</p>
<button>Order Now</button>
</div>
</div>
</div>
<div class="col-lg-6 col-md-6 col-sm-12">
<div class="mb-50">
<div class="text-center">
<img style="width: 80%; " class="rounded"   src="/images/cofee-home.webp">
</div>
</div>
</div>
</div>
</div>

<div class="row">
{{#each products}}
<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">

<div class="single-new-arrival mb-50 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeInUp;">
<div class="popular-img">

<div class="favorit-items">

<img src="{{this._id}}">
</div>
</div>
<div class="popular-caption">
  <h3>{{this.product_name}}</h3>
<h3>{{this.description}}</h3>
<span>{{this.price}}</span>
<button>Add to Cart</button>
</div>
</div>
</div>
{{/each}}
</div>

