<link rel="stylesheet" href="/public/stylesheets/homepage.css" />
<section class="main_body">
  <div class="container-fluid d-flex flex-wrap">
    <div class="right_mb col-12 col-xl-6 col-lg-6">
      <div class="enjoy">

        <h1 style="font-size:53px ;">Enjoy your coffee before your activity</h1>
        <p>Boost your productivity and build your mood with a glass of coffee in
          this morning</p>

        <a href="/products" class="btn_order btn btn-danger"><span
            class=""
          >Order Now</span></a>
      </div>
    </div>

    <div class="left_mb col-12 col-xl-6 col-lg-6">

      <div class="left_mb_img">

        <img class="img-main img-fluid" src="/images/cofee-home.webp" alt="" />

      </div>

    </div>
  </div>
</section>
<br />
<br />

<div class="popular-bg h-2">
  <h2 class="ph2 text-center">TRENDING NOW </h2>
</div>
{{! // }}
<div>
  <div class="row row-cols-1 row-cols-md-3 g-4 d-flex justify-content-evenly">
    {{#each products}}
      <div class="col" style="width: 18rem;">
        <div class="card h-100">
          <img
            src="/product_images/{{this._id}}.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title"> {{this.Product_name}}</h5>
            <p class="card-text">{{this.description}}</p>
            <div
              class="d-flex justify-content-between mb-2"
              style="width: 100%;"
            >
              <p class="item-price my-auto"><strike>₹{{this.Price}}</strike>
                <b>₹{{this.cd_price}}</b></p>
              <div class="d-flex">
                <p class="item-rating my-auto me-2">
                  <b>{{this.Rating}}</b></p>

                <i
                  class="fa fa-star my-auto"
                  style="color: rgb(227, 239, 67)"
                ></i>
              </div>
            </div>

            <button class="ordrbtn">
              <a href="/add-to-cart/{{this._id}}" class="button-trend">Add to
                cart</a></button>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>

<div class="delivery_header">
  <h2>How to use delivery service</h2>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4 d-flex justify-content-evenly">
  <div class="col" style="width: 18rem;">
    <div class="card h-100">
      <img src="/images/del4.jfif" class="card-img-top" alt="..." />
      <div class="card-body" id="browncard">
        <h5 class="card-title">Choose your coffee.</h5>
        <p class="card-text1">there are 15+ cofees for you</p>
      </div>

    </div>
  </div>
  <div class="col" style="width: 18rem;">
    <div class="card h-100">
      <img
        src="/images/del-5.png"
        class="card-img-top"
        style="height: 242px;"
        alt="..."
      />
      <div class="card-body" id="browncard">
        <h5 class="card-title">We deliver it to you</h5>
        <p class="card-text1">Choose your delivery service</p>
      </div>

    </div>
  </div>
  <div class="col" style="width: 18rem;">
    <div class="card h-100">
      <img src="/images/del6.jfif" class="card-img-top" alt="..." />
      <div class="card-body" id="browncard">
        <h5 class="card-title">Enjoy your coffee.</h5>
        <p class="card-text1">Complete your day..!</p>
      </div>
    </div>
  </div>
</div>

<hr class="bottom-hr mt-3" />

<section class="aboutUs container-fluid">
  <div class="row">
    <div class="aboutus_img col-xl-6 col-lg-6 col-12">
      <div class="abts_img_container">
        <img class="abts-img-file img-fluid" src="/images/aboutus.jpg" alt="" />

      </div>
    </div>
    <div class="aboutus_content col-xl-6 col-lg-6 col-12">
      <div class="aboutus_content_wrapper">
        <h1 class="textAbt">About Us</h1>
        <p>We provide quality coffee, and ready to deliver</p>

        <p>We are a compony that makes and distributes delicious drinks.Our main
          product is made with a scecret recipe and available in stores world
          wide.</p>
        <a href="/products">
          <button class="abtusbtn">Get your coffee</button></a>
      </div>
    </div>
  </div>

  <br />

</section>


<br />
<div class="container-fluid">

  <hr class="bottom-hr above_brands_hr" />
  <h3 class="text-center">Brands We Work With</h3>
  <hr class="bottom-hr" />
  <div class="w-100 d-flex justify-content-center">
    <img
      class="brands_img img-fluid m-auto"
      src="http://www.nationalcoffee.net/wp-content/uploads/2017/11/coffee-logos.png"
      alt=""
    />
  </div>

</div>

<br>
<br>