<style>
  @media screen and (min-width: 768px) { .outer { padding: 3rem; } } @media
  screen and (max-width: 768px) { .outer { padding: 0.3rem; } .proImg{ width:
  70% !important; margin-left: 10% !important; } .title{ font-size: 1rem; word-wrap: break-word; } .desc{
  font-size: 0.8rem; word-wrap: break-word; } }
</style>

<div class="container-fluid h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="card border border-0">
        <div class="card-body1 p-0">
          <div class="row g-0">
            <div class="col-lg-12 col-sm-12 col-12 outer">
              <div class="outer">
                <div
                  class="d-flex justify-content-between align-items-center mb-5"
                >
                  <h1
                    class="fw-bold mb-0 text-black"
                  >Orders</h1>
                  {{!-- <h6 class="mb-0 text-muted">{{orders.length}} items</h6> --}}
                </div>
                <hr class="my-4" />
                {{#with orders.[0]}}
                  <div class="d-flex justify-content-between flex-wrap">
                    {{#each address}}
                    <div
                      class="col-12 col-sm-5 col-md-6 col-lg-6 col-xl-5 col-xxl-4 my-auto address"
                    >
                      <h5 class="text-dark title">{{this.name}}</h5>
                      <p class="text-muted mb-0 desc">{{this.houseName}},
                        {{this.postOffice}}
                        P.O.,
                        {{this.locality}},
                        {{this.city}},
                        {{this.landmark}}, Pincode :
                        {{this.pincode}}</p>
                      <small>Phone : {{this.phone}}</small>

                    </div>
                    {{/each}}
                    <div
                      class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3 my-auto paymentMethod"
                    >
                      <h6 class="mb-0"><strong>Payment Method:</strong>
                        <br />{{this.paymentMethod}}</h6>
                    </div>
                  </div>
                  <hr class="my-4" />
                  {{! ==========================================ORDER DETAILS ========================================== }}
                  {{/with}}
                  {{#each orders}}
                  <div class="border border-dark m-4">
                    {{#each productDetails}}
                    <div class="d-flex">
                      <div
                        class="col-sm-4 col-md-4 col-lg-5 col-xl-3 col-4 m-auto"
                      >
                        <a
                          href="/product/{{this._id}}"
                          class="text-decoration-none"
                        ><img
                            src="/product_images/{{this._id}}.jpg"
                            class="imgCrop m-auto ms-4 proImg"
                            class="card-img-bottom"
                            alt="product Image"
                            style="width:10rem ; "
                          /></a>
                      </div>
                      <div
                        class="d-flex justify-content-between col-8 col-sm-8 flex-wrap my-auto"
                      >
                        <div
                          class="col-10 col-sm-8 col-md-10 col-lg-10 col-xl-5 my-auto"
                        >
                          <a
                            href="/product/{{this._id}}"
                            class="text-decoration-none"
                          ><h5
                              class="text-dark title"
                            >{{this.Product_name}}</h5></a>
                          <a
                            href="/product/{{this._id}}"
                            class="text-decoration-none"
                          ><p
                              class="text-muted mb-0 desc"
                            >{{this.desc}}</p></a>
                          <small class="text-muted mb-0 desc">Expected delivery
                            on : 06-OCT-2023</small>
                        </div>
                        <div
                          class="col-sm-2 col-md-4 col-lg-4 col-xl-2 my-auto d-none d-lg-block"
                        >
                          <h6 class="mb-3">₹{{index_of ../products @index "total"}}</h6>
                          <h6 class="mb-0">Qty : {{index_of ../products @index "quantity"}}</h6>
                        </div>
                        <div
                          class="col-sm-2 col-md-4 col-lg-4 col-xl-2 my-auto d-none d-lg-block"
                        >
                          <h6 class="mb-0">{{index_of ../products @index "status"}}</h6>
                        </div>
                        
                        <i
                          class="fa-solid fa-angle-right d-block d-lg-none col-sm-2 col-md-2 col-lg-2 col-xl-2 my-auto"
                        ></i>
                        <div class="d-flex justify-content-center">
                            <a
                              href="/order/cancel/{{../_id}}/{{index_of ../products @index "productId"}}"
                              class="btn btn-primary m-auto"
                              style="height: 2rem;"
                            >Cancel</a>

                        </div>
                       

                        
                      </div>
                       
                    </div>
                    
                    <hr class="my-4" />
                  {{/each}}
                   {{!-- <a
                              href="/order/{{this._id}}"
                              class="d-flex float-right   m-auto"
                              style="height: 2rem;"
                            >Invoice</a> --}}
                  </div>
                  {{/each}}
                  <h6 class="mb-0"><a href="/" class="text-body"><i
                        class="fas fa-long-arrow-alt-left me-2"
                      ></i>Back to Shop</a></h6>
                </div>
              </div> 
            </div>
          </div>
        </div>
      </div>
    </div>
</div>